.how-it-works-container {
  text-align: center;
  padding: 20px;
}

.steps {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.step {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 300px;
}

.step-title {
  background-color: #800080; /* Purple color */
  color: white;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px;
  margin-bottom: 10px;
}

.step-content h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.step-content p {
  font-size: 1rem;
  margin: 5px 0;
}

.step-content strong {
  color: #A020F0; /* Highlight color */
}